/* 
   OURNOTE: PASSWORD MODAL MODULE
   Dedicated styles for the entry password verification.
*/

#password-modal input {
    font-family: 'Cafe24SsurroundAir', sans-serif !important;
}

#password-modal .modal-v4 {
    border: none;
}
